[submodule "mods/scifi_nodes"]
	path = mods/scifi_nodes
	url = https://github.com/D00Med/scifi_nodes.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/modgen"]
	path = mods/modgen
	url = https://github.com/BuckarooBanzay/modgen
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-mods/unified_inventory/
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons/
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines/
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes
[submodule "mods/worldedit"]
	path = mods/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://gitlab.com/VanessaE/basic_materials
[submodule "mods/guns"]
	path = mods/guns
	url = https://github.com/damocles-minetest/guns
[submodule "mods/access_cards"]
	path = mods/access_cards
	url = https://github.com/damocles-minetest/access_cards
[submodule "mods/digiterms"]
	path = mods/digiterms
	url = https://github.com/pyrollo/digiterms
[submodule "mods/display_modpack"]
	path = mods/display_modpack
	url = https://github.com/pyrollo/display_modpack
[submodule "mods/font_botic"]
	path = mods/font_botic
	url = https://github.com/pyrollo/font_botic
[submodule "mods/morelights"]
	path = mods/morelights
	url = https://github.com/random-geek/morelights
[submodule "mods/glass_stained"]
	path = mods/glass_stained
	url = https://github.com/v-rob/glass_stained
[submodule "mods/invsaw"]
	path = mods/invsaw
	url = https://github.com/minetest-mirrors/invsaw
[submodule "mods/factory_bridges"]
	path = mods/factory_bridges
	url = https://github.com/narrnika/factory_bridges
[submodule "mods/soundblock_scifi"]
	path = mods/soundblock_scifi
	url = https://github.com/mt-mods/soundblock_scifi
[submodule "mods/particlefountain"]
	path = mods/particlefountain
	url = https://github.com/damocles-minetest/particlefountain
[submodule "mods/soundblock"]
	path = mods/soundblock
	url = https://github.com/mt-mods/soundblock
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = https://github.com/minetest-mirrors/digistuff/
[submodule "mods/creative"]
	path = mods/creative
	url = https://github.com/minetest-game/creative
[submodule "mods/doors"]
	path = mods/doors
	url = https://github.com/minetest-game/doors
[submodule "mods/dye"]
	path = mods/dye
	url = https://github.com/minetest-game/dye
[submodule "mods/default"]
	path = mods/default
	url = https://github.com/minetest-game/default
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
[submodule "mods/screwdriver"]
	path = mods/screwdriver
	url = https://github.com/minetest-game/screwdriver
[submodule "mods/xpanes"]
	path = mods/xpanes
	url = https://github.com/minetest-game/xpanes
